%textarea-shared {
	margin: 0 0;
	width: 40vw;
	background-color: #021c1e;
	color: #6fb98f;
	border-radius: 6px;
}

body {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch !important;
	background-color: #90afc5;
}

textarea {
	@extend %textarea-shared;
	height: 90vh;
}

#preview {
	@extend %textarea-shared;
	height: auto;
}

.editor-container,
pre {
	margin: 0 0;
	padding: 0 0;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
